{
	admin 127.0.0.1:2019
	frankenphp {
		worker /home/maybeenang/projects/ta-elang/public/frankenphp-worker.php 4
	}
	order php_server before file_server
}

(cors) {
	@cors_preflight method OPTIONS
	header {
		Access-Control-Allow-Origin "{header.origin}"
		Vary Origin
		Access-Control-Expose-Headers "Authorization"
		Access-Control-Allow-Credentials "true"
	}
	handle @cors_preflight {
		header {
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
			Access-Control-Max-Age "3600"
		}
		respond "" 204
	}
}

:8000 {
	import cors

	root * /home/maybeenang/projects/ta-elang/public
	encode zstd br gzip

	php_server {
		index index.php
		resolve_root_symlink
	}

	mercure {
		publisher_jwt !ChangeThisMercureHubJWTSecretKey!
		subscriber_jwt !ChangeThisMercureHubJWTSecretKey!
		anonymous true
	}

	log {
		level INFO
		format filter {
			wrap json
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}
}
